<!DOCTYPE html>
<!--<!DOCTYPE html "http://www.thymeleaf.org/dtd/xhtml1-strict-thymeleaf-4.dtd">-->
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      lang="en">
<head>
    <meta charset="utf-8"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
    <meta name="viewport" content="width=device-width, initial-scale=1"/>
    <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
    <meta name="description" content=""/>
    <meta name="author" content=""/>
    <link rel="icon" href="../../favicon.ico"/>

    <title>Kilim, admin console</title>

    <!-- Bootstrap core CSS -->
    <!--<link href="css/bootstrap.min.css" th:href="@{/css/bootstrap.min.css}" rel="stylesheet"/>-->
    <link rel="stylesheet" href="/webjars/bootstrap/3.3.7/css/bootstrap.min.css" />

    <!-- IE10 viewport hack for Surface/desktop Windows 8 bug -->
    <!--<link href="assets/css/ie10-viewport-bug-workaround.css" th:href="@{/assets/css/ie10-viewport-bug-workaround.css}" rel="stylesheet"/>-->

    <!-- Custom styles for this template -->
    <link href="./old_files/jumbotron.css" rel="stylesheet"/>

    <!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
    <!--[if lt IE 9]>
    <script src="https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js"></script>
    <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
    <![endif]-->
</head>

<body>
<header th:include="fragments/header :: header" class="navbar navbar-static-top bs-docs-nav" id="top" role="banner">
    <nav class="navbar navbar-inverse navbar-fixed-top">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar"
                        aria-expanded="false" aria-controls="navbar">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href="#">Kilim</a>
            </div>
            <div id="navbar" class="navbar-collapse collapse">
                <form class="navbar-form navbar-right">
                    <div class="form-group">
                        <input type="text" placeholder="Task type" class="form-control"/>
                    </div>
                    <div class="form-group">
                        <input type="password" placeholder="Password" class="form-control"/>
                    </div>
                    <button type="submit" class="btn btn-success">Sign in</button>
                </form>
            </div><!--/.navbar-collapse -->
        </div>
    </nav>
</header>

<div class="container">
    <div class="row">
        <div class="col-md-3 col-md-offset-8">
            <a class="btn btn-primary btn-sm" href="list">Back</a>
        </div>
    </div>

    <div class="row">
        <div class="col-md-6 col-md-offset-3">
            <form class="form-horizontal" th:object="${device}">
                <div th:class="${#fields.hasErrors('clientId') ? 'form-group has-error' : 'form-group'}">
                    <label for="inputClientId" class="col-sm-2 control-label">ClientId</label>
                    <p id="inputClientId" class="form-control-static"><span th:text="*{clientId}"/></p>
                </div>
            </form>
        </div>
    </div>

    <div class="row">
        <div class="col-md-6 col-md-offset-3">
            <!--<div id="react" th:attr="data-projectId=${project.id}"></div>                -->
            <div id="react"></div>

            <table class="table table-striped">
                <thead>
                <tr >
                    <th scope="col">Messages received</th>
                </tr>
                </thead>
                <tbody th:each="message : ${device.messages}">
                <tr>
                    <td>
                        <!--<a th:href="@{/admin/user(id=${user.id})}">-->
                            <span th:text="${message.body}">Username</span>
                        <!--</a>-->
                    </td>
                </tr>
                </tbody>
            </table>
        </div>
    </div>

    <hr/>

    <footer th:replace="fragments/footer :: footer">
        Footer
    </footer>
</div> <!-- /container -->
<script src="/built/bundle.js"></script>
</body>
</html>
